  <div class="col-md-6">
    <h2>Add Post</h2>

    <form class="form add-post">
      <div class="form-group">
        <label for="text-title">Title:</label>
        <input class="form-input" type="text" id="text-title" />
      </div>
      <div class="form-group">
        <label for="text-content">Content:</label>
        <textarea class="form-input" type="text" id="text-content"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit Post</button>
      </div>
    </form>
  </div>
</div>
<script src="./js/addPost.js"></script>