<div class="col-md-6">
  <h2>Sign Up</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">Username:</label>
      <input class="form-input" type="text" id="username" />
    </div>
    <div class="form-group">
      <label for="password-signup">Password:</label>
      <input class="form-input" type="password" id="password" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" id="submitBtn">Sign Up</button>
    </div>
    <div>
      <a href="/signin">Already have an account? Sign in here.</a>
    </div>
  </form>
</div>
</div>

<script src="/js/signup.js"></script>